@charset "UTF-08";

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial;
}
::-webkit-scrollbar {    
    width: 0px;
    height: 0px;
}
img {
    width: 100vw;
}

a {
    display: block;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    color: white;
    background-color: rebeccapurple;
    background-size: cover;
}

a:active {
    background-color: rgb(164, 80, 248);
}