@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

img {
    width: 100vw;
}

a {
    display: block;
    background-color: rgb(209, 69, 97);
    padding: 20px;
    text-align: center;
    text-decoration: none;
    color: white;
    font-weight: bolder;
}

a:hover {
    background-color: crimson;
}

::-webkit-scrollbar {
    height: 0px;
    width: 0px;
}