@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

html, body {
    height: 100vh;
    width: 100vw;
    background-color: black;
}

body {
    background-image: url('../imagens/fundo-madeira.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: top center;
}

main {
    position: relative;
    height: 100vh;
}

section#telefone {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    height: 630px;
    width: 311px;
    background-image: url('../imagens/frame-iphone.png');
    background-repeat: no-repeat;
}

iframe#tela {
    position: relative;
    top: 80px;
    left: 21px;

    height: 470px;
    width: 269px;
}

section#redes-sociais {
    float: right;
}

section#redes-sociais img {
    display: block;
    width: 60px;
    margin: 20px;
    border-radius: 50%;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.76);
    box-sizing: border-box;
}

section#redes-sociais img:hover {
    border: 3px solid lightgray;
    box-shadow: 5px 5px 10px black;
    transform: translate(-7px, -7px);
    transition: transform 1s;
}